body,
html {
  font-family: "Bebas Neue", cursive;
  background-color: #202020;
}

.container {
  width: 90vw;
  margin: 5em auto;
  position: relative;
}

.title {
  color: #e5e5e5;
  font-weight: 600;
  margin-left: 1.2em;
}

.search {
  position: absolute;
  top: 0;
  right: 0;
  input {
    background-color: transparent;
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    height: 34px;
    width: 280px;
    color: #e5e5e5;
    padding: 0 0.7em;
    &::placeholder {
      color: #e5e5e5;
    }
  }
}

.slider {
  display: flex;
  max-width: 90vw;
  overflow-x: scroll;
  margin-left: 1.2em;
  div {
    margin: 1em;
  }
  img {
    width: 200px;
    height: 300px;
    box-shadow: 0px 8px 8px 0px #000000;
    border-radius: 10px;
  }
}

.movie-list {
  display: grid;
  justify-items: center;
  grid-gap: 2em;
  grid-template-columns: repeat(5, 1fr);
  .card {
    text-align: center;
    color: #e5e5e5;
    h1 {
      margin-top: 0;
      font-weight: lighter;
      font-size: 20px;
      text-align: center;
    }
    img {
      width: 250px;
      height: 400px;
      box-shadow: 0px 8px 8px 0px #000000;
      border-radius: 10px;
    }
  }
}
